body{
  margin: 0;
}
.block_parallax .title-1 {
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 0;
}
.block_parallax .big-title {
  font-weight: bold;
  font-size: 50px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 13px;
  margin-top: 13px;
}
.block_parallax .collection {
  display: inline-block;
  color: #333;
  font-size: 12px;
  width: 220px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  border: solid 1px #333;
  box-sizing: border-box;
  letter-spacing: 3px;
}
.block_parallax .collection:hover {
  background: #b59677;
  text-decoration: none;
  border: solid 1px #b59677;
}
.block_parallax .title-2 {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 0;
}
.block_parallax .title-2 a {
  color: #333;
}
.block_parallax .title-2 a:hover {
  text-decoration: none;
}
.block_parallax .small-title {
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin-top: -2px;
  letter-spacing: 3px;
}
.block_parallax .small-title a {
  color: #333;
}
.block_parallax .small-title a:hover {
  text-decoration: none;
}
.block_parallax .sale-off {
  font-size: 22.68px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
}
.block_parallax .sale-num {
  font-weight: bold;
  font-size: 63px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: -9px;
}
.block_parallax .product1,
.block_parallax .product2 {
  position: relative;
  overflow: hidden;
  transition: 0.4s;
}
.block_parallax .product1 .text,
.block_parallax .product2 .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}
.block_parallax .product1 a,
.block_parallax .product2 a {
  color: #333;  
}
.block_parallax .product1 >a,
.block_parallax .product2 >a {
  display: flex;  
}
.block_parallax .product1 a:hover,
.block_parallax .product2 a:hover {
  text-decoration: none;
}
.block_parallax .product2 .title-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.block_parallax .product-link {
  display: flex;
  flex-wrap: wrap;
}
.block_parallax .product-link .product1 {
  width: 50%;
  overflow: hidden;
}
.block_parallax .product-link .product1 img {
  transition: 0.4s;
  width: 100%;
  max-width: 100%;
}
.block_parallax .product-link .product1:hover img {
  transform: scale(1.1);
}
.block_parallax .product-link1 {
  display: flex;
  flex-wrap: wrap;
}
.block_parallax .product-link1 .product2 {
  width: calc(33.33333333%);
  overflow: hidden;
}
.block_parallax .product-link1 .product2 img {
  transition: 0.4s;
  width: 100%;
  max-width: 100%;
}
.block_parallax .product-link1 .product2:hover img {
  transform: scale(1.1);
}
.block_parallax .content-parallax {
  background-size: cover;
}
.block_parallax .content-parallax .bg-parallax {
  background-size: cover;
}
.block_parallax .content-parallax.banner .bg-parallax {
  background-image: url(img/banner-1.jpg);
  padding-top: 310px;
  padding-bottom: 300px;
}
.block_parallax .content-parallax.banner1 .bg-parallax {
  background-image: url(img/banner-2.jpg);
  padding-top: 310px;
  padding-bottom: 300px;
}
.block_parallax .content-parallax.banner2 .bg-parallax {
  background-image: url(img/banner-3.jpg);
  padding-top: 250px;
  padding-bottom: 240px;
}
.block_parallax .bg-parallax {
  background-attachment: fixed;
  background-position: center center !important;
  background-repeat: no-repeat;
}
.block_parallax .max-inner {
  text-align: center;
}
